GROQ_API_KEY=enter groq api key

DB_HOST=localhost
DB_PORT=5432
DB_NAME=docreaderbd
DB_USER=enter db username
DB_PASSWORD=enter db password

# Windows: C:\Program Files\Tesseract-OCR\tesseract.exe
# Linux:   /usr/bin/tesseract
# Mac:     /usr/local/bin/tesseract
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# Optional - HuggingFace repo is public, token not required
HF_TOKEN=enter huggingface token