# Firebase — download from Firebase Console > Project Settings > Service Accounts
FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com

# Groq API
GROQ_API_KEY=enter_groq_api_key

# Tesseract path
TESSERACT_CMD=C:\Program Files\Tesseract-OCR\tesseract.exe

# ShobdoOCR — installed via pip from TestPyPI
# pip install --index-url https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ shobdoocr==0.1.1
